@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e6d8;
  color: #0a0a0a83;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 50%;
  margin: 8.125rem auto;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 4rem 0;
  overflow: hidden;
}

header {
  margin: 0 4rem;
}

section {
  margin: 1rem 3rem;
}

.header-image {
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
}

.header-description {
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 10rem;
}

.header-title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 3rem;
  line-height: 0.075rem;
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
}

.preparation-time {
  background-color: #FFF5FA;
  border-radius: 0.625rem;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

h2 {
  color: #854632;
  font-size: 1.8125rem;
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

span {
  font-weight: 600;
  color: #302d2c;
}

.span-bold {
  color: #0a0a0ab2;
  font-weight: bold;
}

.instructions-item {
  margin-left: 1.5rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.instructions-item::marker {
  color: #854632;
  font-weight: bold;
}

.preparation-title {
  color: #7b284f;
  font-size: 1.2rem;
  padding-left: 0.9375rem;
  font-weight: 600;
}

.preparation-item {
  padding: 1rem 1rem 0;
  color: #0a0a0a83;
  margin-left: 2.5rem;
}

.nutrition-description {
  margin-bottom: 1rem;
}

.preparation-item::marker {
  color: #7b284f;
}

.ingredients-list,
.instructions-list {
  margin-bottom: 1.25rem;
}

.ingredients-item::marker {
  color: #854632;
}

.ingredients-item {
  margin-left: 1.5rem;
  padding: 0.5rem 1.35rem;
}

.section-with-border {
  border-bottom: 0.0625rem solid #23232343;
}

.table .row {
  display: flex;
  padding: 0.625rem 0;
  border-bottom: 0.0625rem solid #5959593a;
}

.row.no-border {
  border-bottom: none;
}

.row span {
  width: 50%;
  padding-left: 2rem;
}

.row .row-title {
  color: #5f574ee6;
  font-weight: 400;
}

.row .row-value {
  color: #854532e6;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  header, section {
    margin: 1rem 0;
  }

  .header-wrapper {
    margin: 0 0.625rem;
  }

  .header-title {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  .container {
    max-width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    border-radius: 0;
    overflow: hidden;
  }

  .header-image {
    width: calc(100% + 5rem);
    margin: -1rem 0 1rem -3rem;
    border-radius: 0;
  }
}
